.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align vertically center */
    top: 0; /* Align navbar to the top */
    left: 0;
    right: 0;
    padding: 0rem 0rem;
    background-color:#1B1340;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    align-items: center; /* Align vertically center */
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
    /* align-items: center;; */
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
    text-align: right; /* Align text to the right */
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
    }
}
